## Important: Run this code cell each time you start a new session!

In [1]:
!pip install os
import os
import numpy as np
import pandas as pd

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

In [2]:
!wget -nc https://archive.physionet.org/users/shared/challenge-2019/training_setA.zip
!unzip -n training_setA.zip

File ‘training_setA.zip’ already there; not retrieving.

Archive:  training_setA.zip

In [3]:
def load_single_file(file_path):
    df = pd.read_csv(file_path, sep="|")
    df['PatientID'] = file_path.split(os.sep)[-1][:-4]
    df['Hour'] = df.index
    keep_cols = ['PatientID', 'Age', 'Gender', 'SepsisLabel', 'Hour',
                 'HR', 'O2Sat', 'SBP', 'DBP', 'Resp']
    df = df[keep_cols]
    df.rename(columns={'Gender': 'Sex', 'SepsisLabel': 'HasSepsis'}, inplace=True)
    return df

def create_final_table():
    final_df = pd.DataFrame()
    patient_list = range(1, 51)
    patient_list = [f'p{str(s).zfill(6)}.psv' for s in patient_list]
    for f in patient_list:
        df = load_single_file(os.path.join("training", f))
        final_df = pd.concat([final_df, df])
    final_df = final_df[final_df['Hour'] == 12]
    final_df.drop(columns=['Hour'], inplace=True)
    final_df.to_csv('sepsis.csv',index=False)
create_final_table()
df = pd.read_csv("sepsis.csv")
df

   PatientID    Age  Sex  HasSepsis     HR  O2Sat    SBP    DBP  Resp
0    p000001  83.14    0          0  102.0   93.0  129.0    NaN  24.0
1    p000002  75.91    0          0   62.0   95.0  139.0   44.0  12.0
2    p000003  45.82    0          0   81.0   95.0  130.0   46.0  30.0
3    p000004  65.71    0          0   95.0   97.0  115.0   45.0  18.0
4    p000005  28.09    1          0   73.0   97.0  131.0    NaN  14.0
5    p000006  52.01    1          0    NaN    NaN    NaN    NaN   NaN
6    p000007  64.24    1          0  123.0   94.5  102.0   58.0  18.5
7    p000008  87.08    1          0   86.0  100.0   97.5   49.0  19.0
8    p000009  27.92    1          0   95.0   90.5  121.0   63.0  17.0
9    p000010  76.71    0          0   80.0   97.0  134.0   58.0  20.0
10   p000011  65.79    1          0   85.0  100.0  107.0   54.0  15.0
11   p000012  81.64    1          0  103.0   92.0    NaN    NaN   NaN
12   p000013  59.73    1          0   92.0   97.0   92.0    NaN  16.0
13   p000014  73.43    1          0   78.0   97.0   86.5   53.5  16.0
14   p000015  58.54    0          1   87.0    NaN  124.0   76.0   NaN
15   p000016  58.00    1          0   95.0   97.0  124.0    NaN  16.0
16   p000017  45.76    0          0   78.0  100.0  131.0    NaN  16.0
17   p000018  39.28    1          0  103.0   96.0    NaN    NaN  16.0
18   p000019  46.42    1          0   71.0   95.0  126.0   54.0  13.0
19   p000020  64.66    1          0    NaN    NaN    NaN    NaN   NaN
20   p000021  87.80    0          0  106.0   93.0   99.0   43.0  17.0
21   p000022  77.26    0          1   66.0   93.0   97.0   39.0  19.0
22   p000023  35.89    0          0   84.0  100.0  139.0    NaN  18.0
23   p000024  70.81    0          0   89.0   97.0  105.0    NaN  22.0
24   p000025  43.82    1          0   66.0  100.0  107.0    NaN  18.0
25   p000026  63.77    1          0   69.0   97.0   98.0   59.0  14.0
26   p000028  56.46    0          0   93.0   99.0  121.0   86.0  32.0
27   p000029  47.01    0          0   85.0   98.0  139.0  110.0  19.0
28   p000030  57.13    1          0   71.0  100.0  111.0   62.0  15.0
29   p000031  66.28    1          0   89.0   98.0    NaN    NaN  14.0
30   p000032  82.32    0          0   60.0   97.0  113.0    NaN  18.0
31   p000033  59.24    1          0   78.0   97.0  132.0    NaN  17.0
32   p000034  77.28    0          1   77.0   88.0  115.0   60.0  24.0
33   p000035  65.04    1          0   71.0   99.0  111.0   53.0   9.0
34   p000036  51.35    0          0   91.0   98.0  127.0    NaN  13.0
35   p000037  62.36    1          0   61.0   99.0  102.0   59.0  18.0
36   p000038  57.37    0          0  117.5   97.5  109.5   74.0  18.5
37   p000039  55.39    0          0  110.0   98.0  154.0    NaN  24.0
38   p000040  57.17    1          0   94.0  100.0   87.0    NaN  15.0
39   p000041  47.05    1          0   76.0   97.0  142.0    NaN  15.0
40   p000042  63.59    0          0   96.0   97.0  103.0   57.0  10.0
41   p000043  46.35    0          0  106.0   97.0   82.0    NaN  20.0
42   p000044  59.34    1          0   62.0  100.0   92.0   47.0  15.0
43   p000045  49.80    0          0   69.0    NaN  114.0   60.0  11.0
44   p000046  72.55    1          0   76.0   95.0  132.0   69.0  16.5
45   p000047  41.61    0          0  105.0   95.0  123.0    NaN  12.0
46   p000048  82.10    1          0   83.0   94.0  117.0   55.0  17.0
47   p000049  46.82    1          0   65.0   99.0  115.0    NaN  11.0
48   p000050  81.08    0          0   98.0   97.0  143.0    NaN  30.0

# Instructions

To get full credit for this assignment, we should be able to run your entire notbook from start to finish without any errors. You can check this yourself by selecting "Runtime" > "Run all" in the Google Colab menu.

# Exercise 1: Examining a Numpy Array

**(Part 1)** Create an Numpy array with the following values:

$
\begin{bmatrix}
    3 & 1 & 7 \\
    6 & 10 & 4 \\
\end{bmatrix}
$

In [4]:
a = np.array([[3,1,7],[6,10,4]])

**(Part 2)** What are the dimensions of this array? In other words, how many rows and columns does it have?

Write your answer here: 2 rows 5 columns

**(Part 3)** Write code that will print out the number of rows in the array.

In [5]:
rows, columns = a.shape
rows

2

**(Part 4)** Write code that will index into the array and retrieve the value `7`.

In [6]:
a[0][2]

7

**(Part 5)** Write code that will index into the array and retrieve the first row (`[3, 1, 7]`).

In [7]:
a[0]

array([3, 1, 7])

**(Part 6)** Write code that will index into the array and retrieve the first two columns (`[[3, 1], [6, 10]]`).

In [8]:
a[:,:2]

array([[ 3,  1],
       [ 6, 10]])

**(Part 7)** Write code that will produce the sum along each column of the array and multiply it by 4.

In [9]:
for c in range(columns):
  print(4*(a[0][c]+a[1][c]))

36
44
44

# Exercise 2: Creating a Numpy Array

In this exercise, you will be asked to create the following array using multiple methods:

$
\begin{bmatrix}
    0 & 1 & 2 & 3 & 4 & 5 \\
    0 & 5 & 10 & 15 & 20 & 25 \\
\end{bmatrix}
$

Notice that the bottom row is equal to the top row multiplied by 5.

**(Part 1)** Write code that will create the array using `np.array()` with a list as the input.

In [10]:
a = np.array([[0, 1, 2, 3, 4, 5],[0, 5, 10, 15, 20, 25]])
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 0,  5, 10, 15, 20, 25]])

**(Part 2)** Write code that will create the array by combining the two arrays provided below.

In [11]:
row1 = np.array([0, 1, 2, 3, 4, 5])
row2 = np.array([0, 5, 10, 15, 20, 25])
a = np.concatenate((row1,row2), axis = 0)
a.reshape(2,-1)

array([[ 0,  1,  2,  3,  4,  5],
       [ 0,  5, 10, 15, 20, 25]])

**(Part 3)** Write code that will create the array using a similar approach to what you used in **(Part 2)**, but create `row1` and `row2` using `np.arange()` and basic arithmetic.

In [12]:
row1 = np.arange(6)
row2 = 5*row1
a = np.concatenate((row1,row2), axis = 0)
a.reshape(2,-1)

array([[ 0,  1,  2,  3,  4,  5],
       [ 0,  5, 10, 15, 20, 25]])

**(Part 4)** Write code that will create fill in the empty array of zeroes using at least one `for` loop to create the target array.

*Hint:* You could either do a single `for` loop that fills in one column per iteration, or you could do a double-nested `for` and `if` statements to fill in one value at a time.

In [13]:
arr = np.zeros((2, 6))
for n in range(6):
  arr[0][n] += n
  arr[1][n] += 5*n
print(arr)

[[ 0.  1.  2.  3.  4.  5.]
 [ 0.  5. 10. 15. 20. 25.]]

# Exercise 3: Examining a Pandas DataFrame

This exercise will involve a `DataFrame` similar to the one we used in class.

In [14]:
df = pd.read_csv("sepsis.csv")
df

   PatientID    Age  Sex  HasSepsis     HR  O2Sat    SBP    DBP  Resp
0    p000001  83.14    0          0  102.0   93.0  129.0    NaN  24.0
1    p000002  75.91    0          0   62.0   95.0  139.0   44.0  12.0
2    p000003  45.82    0          0   81.0   95.0  130.0   46.0  30.0
3    p000004  65.71    0          0   95.0   97.0  115.0   45.0  18.0
4    p000005  28.09    1          0   73.0   97.0  131.0    NaN  14.0
5    p000006  52.01    1          0    NaN    NaN    NaN    NaN   NaN
6    p000007  64.24    1          0  123.0   94.5  102.0   58.0  18.5
7    p000008  87.08    1          0   86.0  100.0   97.5   49.0  19.0
8    p000009  27.92    1          0   95.0   90.5  121.0   63.0  17.0
9    p000010  76.71    0          0   80.0   97.0  134.0   58.0  20.0
10   p000011  65.79    1          0   85.0  100.0  107.0   54.0  15.0
11   p000012  81.64    1          0  103.0   92.0    NaN    NaN   NaN
12   p000013  59.73    1          0   92.0   97.0   92.0    NaN  16.0
13   p000014  73.43    1          0   78.0   97.0   86.5   53.5  16.0
14   p000015  58.54    0          1   87.0    NaN  124.0   76.0   NaN
15   p000016  58.00    1          0   95.0   97.0  124.0    NaN  16.0
16   p000017  45.76    0          0   78.0  100.0  131.0    NaN  16.0
17   p000018  39.28    1          0  103.0   96.0    NaN    NaN  16.0
18   p000019  46.42    1          0   71.0   95.0  126.0   54.0  13.0
19   p000020  64.66    1          0    NaN    NaN    NaN    NaN   NaN
20   p000021  87.80    0          0  106.0   93.0   99.0   43.0  17.0
21   p000022  77.26    0          1   66.0   93.0   97.0   39.0  19.0
22   p000023  35.89    0          0   84.0  100.0  139.0    NaN  18.0
23   p000024  70.81    0          0   89.0   97.0  105.0    NaN  22.0
24   p000025  43.82    1          0   66.0  100.0  107.0    NaN  18.0
25   p000026  63.77    1          0   69.0   97.0   98.0   59.0  14.0
26   p000028  56.46    0          0   93.0   99.0  121.0   86.0  32.0
27   p000029  47.01    0          0   85.0   98.0  139.0  110.0  19.0
28   p000030  57.13    1          0   71.0  100.0  111.0   62.0  15.0
29   p000031  66.28    1          0   89.0   98.0    NaN    NaN  14.0
30   p000032  82.32    0          0   60.0   97.0  113.0    NaN  18.0
31   p000033  59.24    1          0   78.0   97.0  132.0    NaN  17.0
32   p000034  77.28    0          1   77.0   88.0  115.0   60.0  24.0
33   p000035  65.04    1          0   71.0   99.0  111.0   53.0   9.0
34   p000036  51.35    0          0   91.0   98.0  127.0    NaN  13.0
35   p000037  62.36    1          0   61.0   99.0  102.0   59.0  18.0
36   p000038  57.37    0          0  117.5   97.5  109.5   74.0  18.5
37   p000039  55.39    0          0  110.0   98.0  154.0    NaN  24.0
38   p000040  57.17    1          0   94.0  100.0   87.0    NaN  15.0
39   p000041  47.05    1          0   76.0   97.0  142.0    NaN  15.0
40   p000042  63.59    0          0   96.0   97.0  103.0   57.0  10.0
41   p000043  46.35    0          0  106.0   97.0   82.0    NaN  20.0
42   p000044  59.34    1          0   62.0  100.0   92.0   47.0  15.0
43   p000045  49.80    0          0   69.0    NaN  114.0   60.0  11.0
44   p000046  72.55    1          0   76.0   95.0  132.0   69.0  16.5
45   p000047  41.61    0          0  105.0   95.0  123.0    NaN  12.0
46   p000048  82.10    1          0   83.0   94.0  117.0   55.0  17.0
47   p000049  46.82    1          0   65.0   99.0  115.0    NaN  11.0
48   p000050  81.08    0          0   98.0   97.0  143.0    NaN  30.0

**(Part 1)** Write code that will show the number of patients in the dataset.

In [15]:
rows, columns = df.shape
rows

49

**(Part 2)** Write code that will show the number of male (`0`) and female (`1`) patients in the dataset.

In [16]:
df['Sex'].value_counts()

Sex
1    26
0    23
Name: count, dtype: int64

**(Part 3)** Write code that will calculate the average age of all the patients.

In [17]:
df['Age'].mean()

60.48816326530613

**(Part 4)** Write code that will print out the IDs of all the patients with sepsis (i.e., the value in the `HasSepsis` column is 1).

In [18]:
sepsis = df[df['HasSepsis'] == 1]
sepsis_patient = sepsis['PatientID'].tolist()
print(sepsis_patient)

['p000015', 'p000022', 'p000034']

**(Part 5)** Write code that will calculate the average heart rate of the patients with sepsis.

In [19]:
sepsis['HR'].mean()

76.66666666666667

**(Part 6)** Write code that will print out the ID of the oldest patient.

In [20]:
oldest = df[df['Age'] == df['Age'].max()]
print(oldest['PatientID'])

20    p000021
Name: PatientID, dtype: object

**(Part 7)** Write code that will print out the ID of the youngest patient with sepsis.

In [21]:
youngest = df[df['Age'] == df['Age'].min()]
print(youngest['PatientID'])

8    p000009
Name: PatientID, dtype: object